<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./Styles.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="login-container">
        <img
          class="logo-register"
          src="https://img.freepik.com/free-icon/user_318-644360.jpg?w=2000"
          alt="Login Logo"
        />
        <input type="text" placeholder="Nombre" />
        <input type="text" placeholder="Apellido" />
        <input type="text" placeholder="Correo" />
        <input type="text" placeholder="Contraseña" />
        <input type="text" placeholder="Repetir Contraseña" />
        <div class="terms">
          <input type="checkbox" name="terms" id="terms" />
          <label for="terms">Acepto los terminos y condiciones</label>
        </div>
      </div>
      <button class="register-button" type="submit">Registrarme</button>
    </div>
  </body>
</html>
