{% extends 'base.html' %}
<!-------------------------------------------------------------------------->
{% block title %}Home{% endblock title %}
<!-------------------------------------------------------------------------->
{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}
<!-------------------------------------------------------------------------->
{% block header %}
{% include 'components/header.html' %}
{% endblock header %}
<!-------------------------------------------------------------------------->
{% block products %}
{% include 'components/products.html' %}
{% endblock products %}
<!-------------------------------------------------------------------------->
{% block recipes %}
{% include 'components/recipes.html' %}
{% endblock recipes %}
<!-------------------------------------------------------------------------->
{% block fama %}
{% include 'components/fama.html' %}
{% endblock fama %}
<!-------------------------------------------------------------------------->
{% block footer %}
{% include 'components/footer.html' %}
{% endblock footer %}
<!-------------------------------------------------------------------------->
{% block javascript %}{% endblock javascript %}