

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %} {% endblock %}
    </title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


  {% block navbar %}
  {% endblock %}

  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block products %}
  {% endblock %}

  {% block recipes %}
  {% endblock %}

  {% block fama %}
  {% endblock %}

  {% block about %}
  {% endblock %}

  {% block contact %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
    
      
</body>
</html>